@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url('../recursos/dogedit.jpg');
	background-position: center 0px;
	background-repeat: no-repeat;
}
.titulo h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #0950bb;
	font-size: 56px;
	text-align: center;
}
section {
	display: flex;
	flex-direction: column;
}
.titulo {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.logos {
	display: flex;
	flex-direction: column;
	position: fixed;
	margin-top: 330px;
}
.logos img {
	width: 40px;
	height: 40px;
}
.navegador {
	display: flex;
	background-color: #0950bb;
	height: 64px;
	justify-content: flex-end;
	align-items: center;
}
.items {
	margin-right: 12%;
}
.items nav ul {
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.items nav ul li a {
	color: white;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	display: flex;
	margin-left: 15px;
	margin-right: 15px;
	justify-content: center;
}
.items nav ul li {
	display: flex;
	list-style: none;
	text-align: center;
	height: 56px;

	align-items: center;
}
.items nav ul li:hover {
	background-color: #002c6d;
}
